<table mat-table [dataSource]="menuItems" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- profit Column -->
  <ng-container matColumnDef="profit">
    <th mat-header-cell *matHeaderCellDef> Profit </th>
    <td mat-cell *matCellDef="let element"> {{element.profit}} </td>
  </ng-container>

  <!-- salesPrice Column -->
  <ng-container matColumnDef="salesPrice">
    <th mat-header-cell *matHeaderCellDef> SalesPrice </th>
    <td mat-cell *matCellDef="let element"> {{element.salesPrice}} </td>
  </ng-container>

    <!-- SycalculatedPricembol Column -->
    <ng-container matColumnDef="calculatedPrice">
      <th mat-header-cell *matHeaderCellDef> CalculatedPrice </th>
      <td mat-cell *matCellDef="let element"> {{element.calculatedPrice}} </td>
    </ng-container>

    <!-- vegetarian Column -->
    <ng-container matColumnDef="vegetarian">
      <th mat-header-cell *matHeaderCellDef> Vegetarian </th>
      <td mat-cell *matCellDef="let element"> {{element.vegetarian}} </td>
    </ng-container>

    <!-- amountOfTimesOrdered Column -->
    <ng-container matColumnDef="amountOfTimesOrdered">
      <th mat-header-cell *matHeaderCellDef> Times-Ordered </th>
      <td mat-cell *matCellDef="let element"> {{element.amountOfTimesOrdered}} </td>
    </ng-container>

    <!-- ingredientsInStock Column -->
    <ng-container matColumnDef="ingredientsInStock">
      <th mat-header-cell *matHeaderCellDef> In-Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.ingredientsInStock}} </td>
    </ng-container>

    <!-- menuCategory Column -->
    <ng-container matColumnDef="menuCategory">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.menuCategory}} </td>
    </ng-container>
    
    <!-- ingredientList Column -->
    <ng-container matColumnDef="ingredientList">
        <th mat-header-cell *matHeaderCellDef> Ingredients </th>
        <td mat-cell *matCellDef="let element">
            <select>
              <option *ngFor="let ingredient of element.ingredientList" [value]="ingredient.key">{{ingredient.name}}</option>
            </select>
        </td>
    </ng-container>


    <!-- subDishList Column -->
    <ng-container matColumnDef="subDishList">
        <th mat-header-cell *matHeaderCellDef> SubDishes </th>
        <td mat-cell *matCellDef="let element">
            <select>
              <option *ngFor="let subDishList of element.subDishList" [value]="subDishList.key">{{subDishList.name}}</option>
            </select>
        </td>
    </ng-container>
    
    <!-- filteredListOfAllergiesPerMenuItem Column -->
    <ng-container matColumnDef="filteredListOfAllergiesPerMenuItem">
        <th mat-header-cell *matHeaderCellDef> Allergies </th>
        <td mat-cell *matCellDef="let element">
            <select>
              <option *ngFor="let filteredListOfAllergiesPerMenuItem of element.filteredListOfAllergiesPerMenuItem" [value]="filteredListOfAllergiesPerMenuItem.key">{{filteredListOfAllergiesPerMenuItem}}</option>
            </select>
        </td>
    </ng-container>
    
<!--== EDIT COLUMN ==-->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> 
          
          <!-- // delete modal with confirm button -->
          <ng-template #contentDelete let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete {{element.name}}? This action cannot be undone! 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" (click)="delete(element)">Confirm delete</button>
              </div>
            </ng-template>
            
            <button class="btn btn-outline-danger" (click)="open(contentDelete)"> <i class="fas fa-trash-alt"></i>Delete</button>

            <!-- // edit modal -->

            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <form>
                            <label>
                              Id:
                            <input disabled="disabled" value = "{{element.id}}" type="number" [(ngModel)] = "element.id" required name = "id">
                            </label>
                            <label>
                              Name:
                              <input value = "{{element.name}}" type="text" [(ngModel)] = "element.name" required name = "name">
                            </label>
                          
                            <label>
                              Profit:
                              <input value = "{{element.profit}}" type="number" [(ngModel)] = "element.profit" required name = "profit">
                            </label>
                          
                            <label>
                              SalesPrice:
                              <input value = "{{element.salesPrice}}" type="number" [(ngModel)] = "element.salesPrice" name = "salesPrice">
                            </label>
                          
                            <label>
                              CalculatedPrice:
                              <input value = "{{element.calculatedPrice}}" type="number" [(ngModel)] = "element.calculatedPrice" name = "calculatedPrice">
                            </label>
                                       
                          
                            <label>
                              Vegetarian:
                              <select  [(ngModel)] = "element.vegetarian" name = "vegetarian">
                                <option value = "true">true</option>
                                <option value = "false">false</option>
                              </select>
                            </label>

                            <label>
                                IngredientList:
                                <!-- <select  [(ngModel)] = "element.ingredientList" name = "ingredientList"> -->
                                    <!-- <td mat-cell *matCellDef="let element"> -->
                                        <select multiple>
                                          <option *ngFor="let ingredient of ingredients" [value]="ingredient.key">{{ingredient.name}}</option>
                                        </select>
                                    <!-- </td> -->
                                                            <!-- </select> -->
                              </label>
  

                            

                            <label>
                              AmountOfTimesOrdered:
                              <input value = "{{element.amountOfTimesOrdered}}" type="number" [(ngModel)] = "element.amountOfTimesOrdered" name = "amountOfTimesOrdered">
                            </label>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" (click)="save(element)">Save</button>
                </div>
              </ng-template>

              <!-- Add new record -->
              <ng-template #addNew let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Add</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <form>
                            <label>
                              Name:
                              <input value = "name" type="text" [(ngModel)] = "element.name" required name = "name">
                            </label>
                          
                            <label>
                              Profit:
                              <input value = "0" type="number" [(ngModel)] = "element.profit" required name = "profit">
                            </label>
                          
                            <label>
                              SalesPrice:
                              <input value = "0" type="number" [(ngModel)] = "element.salesPrice" name = "salesPrice">
                            </label>
                          
                            <label>
                              CalculatedPrice:
                              <input value = "0" type="number" [(ngModel)] = "element.calculatedPrice" name = "calculatedPrice">
                            </label>
                            <label>
                              Vegetarian:
                              <input value = "" type="text" [(ngModel)] = "element.vegetarian" name = "vegetarian">
                            </label>
                          
                            <label>
                              AmountOfTimesOrdered:
                              <input value = "" type="number" [(ngModel)] = "element.amountOfTimesOrdered" name = "amountOfTimesOrdered">
                            </label>

                                       
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" (click)="add(element)">Save</button>
                </div>
              </ng-template>


              
              &nbsp;<button class="btn btn-outline-primary" (click)="open(content)" (click)="edit(element)"> <i class="fas fa-trash-alt"></i>Edit</button>
              &nbsp;<button class="btn btn-success" (click)="open(addNew)"> <i class="fas fa-trash-alt"></i>Add</button>
            
        </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

