<div class="jumbotron text-center text-white">
    <h1>Welcome to Molveno restaurant</h1>
    <p>Please book a table or take a look at our menu!</p>
  </div>
  
  <div class="container" style="margin-top: 50px;">
      <div class="row">
          <!-- <div class="col-1">
          </div> -->
          <div class="col-4">
              <div class="card">
                  <img class="card-img-top" src="/src/assets/images/table.jpg" alt="Bookings">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Book a table</h5> -->
                      <a href="addBooking" class="btn btn-primary">Book table</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card">
                  <img class="card-img-top" src="/src/assets/images/pizza.jpg" alt="contact">
                  <div class="card-body">
                      <!-- <h5 class="card-title">View menu</h5> -->
                      <a href="contact" class="btn btn-primary">View menu</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card">
                  <img class="card-img-top" src="/src/assets/images/dayjpg.jpg" alt="contact">
                  <div class="card-body">
                      <!-- <h5 class="card-title">View menu</h5> -->
                      <a href="contact" class="btn btn-primary">View dish of the day</a>
                  </div>
              </div>
          </div>
          <!-- <div class="col-2">
          </div> -->
      </div>
      <!-- <div class= "row">
        <div class = "col-2"></div>
        <div class = "col-8">
            <div class="card">
                <img class="card-img-top" src="/src/assets/images/dayjpg.jpg" alt="contact">
                <div class="card-body">
                    
                    <a href="contact" class="btn btn-primary">View dish of the day</a>
                </div>
            </div>

        </div> -->
        <!-- <div class = "col-2"></div>
        

      </div> -->
  </div>
