
<h4> Add ingredient</h4>

<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name" required>
  </label>

  <label>
    Price:
    <input type="number" formControlName="price" required>
  </label>

  <label>
    Vegetarian:
    <input type="checkbox"  formControlName="vegetarian">
  </label>

  <label>
    Stock:
    <input type="number" formControlName="stock">
  </label>

  <!-- <label>
    Allergy:
    <input type="text" formControlName="allergy">
  </label> -->

   <!-- rebuild to dropdown: DOES NOT WORK??-->
  <!-- <label>
    Allergy:
    <select formControlName="allergyDropdown">
      <option *ngFor="let allergy of allergies | enumSelect" [value]="allergy.key">{{allergy.value}}</option>

      </select>
  </label> -->

  <label>
      Allergy:
      <select formControlName="allergy">
        <option value = "GLUTEN">Gluten</option>
        <option value = "EGG">Egg</option>
        <option value = "COWMILK">Cow's milk</option>
        <option value = "TREENUTS">Tree nuts</option>
        <option value = "PEANUTS">Peanuts</option>
        <option value = "SHELLFISH">Shellfish</option>
        <option value = "SOY">Soy</option>
  
        </select>
    </label>









  <!-- <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">

      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div> -->

  
</form>

<button type="submit" [disabled]="!ingredientForm.valid" (click)="add2()">Add</button>




<p>
  Form Value: {{ ingredientForm.value | json }}
</p>


<p>
  Form Status: {{ ingredientForm.status }}
</p>
