<div class="jumbotron text-center text-white">
    <h1>Menu</h1>
    <p>Please order drinks and food!</p>
  </div>

  <div class="container">
    <app-menu-modal></app-menu-modal>
  </div>
    
  <div class="container" *ngFor="let menu of menus | slice:0">
    <div class = "row">
      <div class="col-sm-4 py-2" *ngFor='let menuItem of menu.menuItemList'>
        
        <div class="card bg-light text-darkgrey text-center card-body h-100" >
          <h3 class="card-title">{{menuItem.name}}</h3>
          <p class="card-text">
            <i *ngIf="menuItem.vegetarian">Vegetarian <img src="/src/assets/images/vegetarian.PNG" width="20px"> </i>
          </p>
          <p class="card-text">Allergy info: {{menuItem.filteredListOfAllergiesPerMenuItem}}</p>
          <a href="#" class="btn btn-secondary">Order!</a>
        </div>
     
      </div>
    </div>
    </div>
  
  
  
  
  
    <!-- <p>
    {{menus && menus[0]?.name}} {{menus && menus[0].menuItemList[1].name}}
  
  </p>
  
  
  <p>
    after
  </p>
   -->
  
      <!-- <br/> <br/>
  <div class="container">
  <div *ngFor="let menu of menus">
    <b>{{menu.name}}</b>
  
    <div *ngFor="let menuItemList of menu.menuItemList">
      {{menuItemList.name}} <i *ngIf="menuItemList.vegetarian">is vegetarian </i>
      <i> {{menuItemList.filteredListOfAllergiesPerMenuItem.getDescription()}}</i> 
    </div>
  
   
  
  </div>
  
  </div> -->