<!-- <p>
  admin works!
</p> -->
<div class="basic_text container">
    <br />
    <br />
    <h2>Welcome admin</h2>
    <br />
    <br />

    <mat-list>
      <mat-list-item> Name </mat-list-item>
      <mat-list-item> SalesPrice </mat-list-item>
      <mat-list-item> menuCategory </mat-list-item>
      <mat-list-item> amountOfTimesOrdered </mat-list-item>
      <mat-list-item> ingredientList </mat-list-item>
      <mat-list-item> subDishList </mat-list-item>
      <mat-list-item> profit </mat-list-item>
      <mat-list-item> filteredListOfAllergiesPerMenuItem </mat-list-item>
      <mat-list-item> calculatedPricecalculatedPrice </mat-list-item>
      <mat-list-item> vegetarian </mat-list-item>
      <mat-list-item> ingredientsInStock </mat-list-item>
     </mat-list>

     <!-- <th class="basic_text"padding="20px">Id </th>
     <th class="basic_text">Name </th>
     <th class="basic_text">salesPrice </th>
     <th class="basic_text">menuCategory</th>
     <th class="basic_text">amountOfTimesOrdered</th>
     <th class="basic_text">ingredientList </th>
     <th class="basic_text">subDishList </th>
     <th class="basic_text">profit </th>
     <th class="basic_text">filteredListOfAllergiesPerMenuItem </th>
     <th class="basic_text">calculatedPricecalculatedPrice </th>
     <th class="basic_text">vegetarian </th>
     <th class="basic_text">ingredientsInStock </th> -->


    <table>
          <thead>
          </thead>

          <tr *ngFor="let menu of menus; let i = index" class="basic_text" (click)="edit(menu)">
              <td class="basic_text">{{menu.id}} </td>
  
              <td class="basic_text">
                <span class="basic_text" *ngIf="menu!==editmenu">{{menu.name}}</span>
                <input class="basic_text" *ngIf="menu===editmenu" [(ngModel)]="menu.name" (blur)="update()" (keyup.enter)="update()">
              </td>
  
              <td>
                <span class="basic_text" *ngIf="menu!==editmenu">{{menu.salesPrice}}</span>
                <input class="basic_text" *ngIf="menu===editmenu" [(ngModel)]="menu.salesPrice" (blur)="update()" (keyup.enter)="update()"> </td>
  
              <td>
                <span class="basic_text" *ngIf="menu!==editmenu">{{menu.menuCategory}}</span>
  
                <select #menuGenre *ngIf="menu===editmenu" [(ngModel)]="menu.menuCategory" (blur)="update()" (keyup.enter)="update()">
                  <!-- <option *ngFor="let genre of genres | enumSelect" [value]="genre.key">{{genre.value}}</option> -->
                </select>
              </td>
  
              <td>
                <span class="basic_text" *ngIf="menu!==editmenu">{{menu.amountOfTimesOrdered}}</span>
                <input class="basic_text" *ngIf="menu===editmenu" [(ngModel)]="menu.amountOfTimesOrdered" (blur)="update()" (keyup.enter)="update()">
              </td>
  
              <td>
                <span class="basic_text" *ngIf="menu!==editmenu">{{menu.imageUrl}}</span>
                <input class="basic_text" *ngIf="menu===editmenu" [(ngModel)]="menu.imageUrl" (blur)="update()" (keyup.enter)="update()">
              </td>
  
            <td>
              <button class="basic_text" class="delete" title="delete menu" (click)="delete(menu)">x</button>
            </td>
          </tr>
    </table>
    <br />
    <br />
    <h1 class="basic_text">Add menus</h1>
    <p></p>
    <div class="basic_text">
      <tr class="basic_text">
        <label class="basic_text">
          <b>
            <td class="basic_text" width="250px">Name:
              <input class="basic_text" #menuName />
            </td>
            <td class="basic_text" width="230px">Url:
              <input class="basic_text" #menuUrl />
            </td>
            <td class="basic_text" width="200px">Genre:
              <select #menuGenre>
                <!-- <option class="basic_text" *ngFor="let genre of genres | enumSelect" [value]="genre.key">{{genre.value}}</option> -->
              </select>
            </td>
            <td class="basic_text" width="300px">Description:
              <input #menuDescription />
            </td>
            <td class="basic_text" width="300px">Image url:
              <input #menuImgUrl />
            </td>
            <td class="basic_text" width="15px">
              <button class="basic_text" (click)="add(menuName.value, menuUrl.value, menuGenre.value, menuDescription.value, menuImgUrl.value) ; menuName.value=''; menuUrl.value=''; menuGenre.value=''; menuDescription.value=''; menuImgUrl.value=''">
                add
              </button>
            </td>
          </b>
        </label>
      </tr>
    </div>
  </div>
  