<div class="jumbotron text-center text-white">
    <h1>Welcome admin</h1>
  </div>

  <section class="admin-section">
        <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div></div>
                        <a [routerLink]="['/ingredients']"><div  class="card py-4 h-100">
                                <img class="card-img-top" src="/src/assets/images/carrots.jpg" 
                                    style="max-width:100%;height:auto;" alt="carrots">                            
                                
                                <div class = "card-body">
                            <a class = "btn btn-primary" [routerLink] ="['/ingredients']">Edit ingredients</a>
                        </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-3">
                        <div></div>
                        <div  class="card py-4 h-100">
                            <a class = "btn btn-primary" [routerLink]="['/subdishes']">Edit subdishes</a>
                                    <a [routerLink]="['/subdishes']"><img class="card-img-top" src="/src/assets/images/pizza_dough.jpg" 
                                        style="max-width:100%;height:auto;" alt="pizza dough">
                                </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div></div>
                        <div  class="card py-4 h-100">
                            <a class = "btn btn-primary" [routerLink]="['/menu-items']">Edit dishes</a>
                                <a [routerLink]="['/menu-items']"><img class="card-img-top" src="/src/assets/images/moussaka2.jpeg" 
                                    style="max-width:100%;height:auto;" alt="moussaka">
                                </a>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div></div>
                        <div  class="card py-4 h-100">
                            <a class = "btn btn-primary" [routerLink]="['/menu']">Edit Menus</a>
                                <a [routerLink]="['/menu-items']"><img class="card-img-bottom" src="/src/assets/images/paper_menu.jpg" 
                                    style="max-width:100%;height:auto;" alt="menu">
                                </a>
                            
                        </div>
                    </div>
                </div>
        </div>    
  </section>

  <!-- <div></div> -->